@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixelify-sans: "Pixelify Sans", sans-serif;
  --font-jersey-15: "Jersey 15", "Pixelify Sans", sans-serif;
  --animate-float: float 3s ease-in-out infinite;
  @keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-black bg-cover bg-center min-h-screen bg-no-repeat text-white;
  background-image: url('/pokebg.jpg');
}

.text-shadow {
  text-shadow: 2px 2px 0 rgb(255, 255, 255);
}

.text-outline {
  text-shadow: 0 0 1px #fff, 0 0 8px #fff;
}

/*
@layer utilities {
  .box {
    border-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H8v4H4v4H0v8h4v4h4v4h8v-4h4v-4h4V8h-4V4h-4V0zm0 4v4h4v8h-4v4H8v-4H4V8h4V4h8z' fill='%230038FF'/%3E%3C/svg%3E") 8 stretch;
  }

  .box::before {
    content: "";
    position: absolute;
    right: -28px;
    top: calc(50% - 14px);
    width: 24px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0H0v8h12v4h4v4h-4v4H0v8h4v-4h8v-4h4v-4h8v-4h-8V8h-4V4H4V0z' fill='%230038FF'/%3E%3Cpath fill='%23161616' d='M0 8h4v12H0z'/%3E%3C/svg%3E");
  }
}

@layer utilities {
  .lvl1 {
    box-shadow: 4px 0 orange, -4px 0 orange, 0 -4px orange, 0 4px orange,
                6px 0 0 2px white, -6px 0 0 2px white, 0 -6px 0 2px white, 
                0 6px 0 2px white;
    margin: 4px auto;
  }

  .lvl2 {
    box-shadow: 4px 0 white, -4px 0 white, 0 -4px white, 0 4px white,
                8px 0 blue, -8px 0 blue, 0 -8px blue, 0 8px blue, 
                0 0 0 4px blue;
    margin: 8px auto;
  }

  .lvl3 {
    box-shadow: 3px 0 white, -3px 0 white, 0 -3px white, 0 3px white,
                6px 0 white, -6px 0 white, 0 -6px white, 0 6px white, 
                0 0 0 3px white, 9px 0 red, -9px 0 red, 0 9px red, 
                0 -9px red, 0 -3px 0 3px red;
    margin: 9px auto;
  }
}
*/